body {
        background: url(https://i2.wp.com/d.wattpad.com/story_parts/733210208/images/159f56acb0697917478282760184.gif);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #2B2B2B;
}