h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #2B2B2B;
}


body {
        background: url(img/back.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }