section {
    background: rgb(128 155 144);
    height: 600px;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    max-width: 720px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

div.content {
    background: rgb(233 228 207);
    height: 550px;
    margin-left: auto;
    padding-top: 2%;
    margin-right: auto;
    max-width: 720px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    color: #222;
    margin: auto
}

p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0rem
}

.btn-primary {
    color: #fff;
    background-color: #748c82;
    border-color: #e9e4cf;
}