{% extends "main.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='gui.css')}}">
<main role="main" class="container">
    <div class="wrapper">
        <section>
            <div class="content">
                <h1 style="margin-left: 25%;">Как писать хокку</h1>
                <hr>
                <p class="guide">Хокку – национальная японская форма поэзии, жанр поэтической миниатюры, просто, лаконично, ёмко и достоверно изображающий природу и человека в их нерасторжимом единстве.</p>
                <pre>Гром прогремел -
                    Словно хлопнула дверью и ушла
                    Любимая навеки...
                <em>    Нодзава Сэцуко</em></pre>
                <p class="text">Традиционное японское хайку – это 17-сложное стихотворение, записываемое в один столбец (строку) и состоящее из трёх ритмических частей по 5-7-5 слогов. Внутренне хайку делится, как правило, на две смысловые части 12+5 или 5+12. Переводы и хайку, сочинённые на других языках, принято записывать в три строки.</p>
                <p class="text">Рекомендуется включать в хайку слово или словосочетание, обозначающее состояние природы на момент, описываемый в хайку. Важны не сезонные слова сами по себе, а образы, которые они вызывают. Например «сажаем картошку» – поздняя весна, «бенгальские огни» – Новый год и т.д. При этом важно находить точные и лаконичные слова, переносящие читающего в то же самое ситуативное пространство действия хайку, что подразумевал автор.</p>
                <pre>
                    Сочла кукушка
                    Мгновения летних дней
                    И улетела.
                <em>    Морио Таскэ</em></pre>
                <p class="text">Если без какого-то слова можно обойтись в хайку, попробуйте без него обойтись. Избегайте повторов слов, однокоренных слов, смыслов – любого масленого масла – если это не является осознанной задумкой.</p>
                <pre>
                    планы на новый год
                    заваленный бумагами стол
                    планы на новый год
                <em>    С.М.Ли</em></pre>
                <p class="text">Не надо говорить высокопарно, пафосно или использовать «словечки», понятные только вам. Показывайте всё таким, какое оно есть. Но соединяйте образы внутри хайку так, чтобы они могли задеть, тронуть читателя, заставить его задуматься. Представьте, что вы режиссёр кинокартины, и всё, что у вас есть – это три мгновенья и изображения, которые можно снять без спецэффектов; ещё у вас есть запахи, прикосновения, тепло, холод, боль – всё то, что можно воспринять органами чувств…</p>
                <pre>
                    Холод до сердца проник:
                    На гребень жены покойной
                    В спальне я наступил.
                <em>    Бусон</em></pre>
                <p class="text">Важные принципы поэзии хайку – недосказанность, многозначность и послечувствование.</p>
                <pre>
                    случайная встреча –
                    зовём своих детей
                    именами друг друга
                <em>    Тайша</em></pre>
            </div>
        </section>
    </div>
</main>
<footer>
    aqui1a
</footer>
{% endblock %}

