{% extends "main.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
<section>
    <div class="content">
        <h1>Write a hokky</h1>
        <hr>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.content.label }}<br>
                {{ form.content(class="form-control", rows=3, style="resize: none;") }}<br>
                {% for error in form.content.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <p style="margin-left: 5%">{{message}}</p>
        </form>
    </div>
</section>
{% endblock %}